.sidebar{

    width:260px;

    background:white;

    border-right:1px solid #ECECEC;

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    padding:24px;

}

.sidebar__logo{

    display:flex;

    align-items:center;

    gap:12px;

    font-size:22px;

    font-weight:700;

    margin-bottom:40px;

}

.sidebar nav{

    display:flex;

    flex-direction:column;

    gap:10px;

}

.sidebar a{

    display:flex;

    align-items:center;

    gap:12px;

    padding:14px 16px;

    border-radius:14px;

    text-decoration:none;

    color:#475569;

    cursor:pointer;

    transition:.25s;

}

.sidebar a:hover{

    background:#FFF4EB;

    color:#F97316;

}

.sidebar a.active{

    background:#FFF4EB;

    color:#F97316;

    font-weight:600;

}

.sidebar__bottom{

    display:flex;

    flex-direction:column;

    gap:10px;

}