.chart-card{
    background:#fff;
    border:1px solid #E2E8F0;
    border-radius:16px;
    padding:24px;
    width:100%;
    overflow:hidden;
    min-height:550px;
}

.chart-header{
    margin-bottom:20px;
}

.chart-header h3{
    font-size:18px;
    font-weight:600;
    color:#0F172A;
}

.chart-content{
    height:280px;
}

.chart-content.line{
    height:360px;
}